<a href="https://colab.research.google.com/github/Cris2405/Proyecto_Mineria/blob/main/Proyecto_CO2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
url=("https://raw.githubusercontent.com/Cris2405/Proyecto_Mineria/main/energyco2.csv")
df=pd.read_csv(url)
df

,Unnamed: 0,pais,tipo_energia,year,consumo_energia,produccion_energia,cpp,Poblacion,Intesidad_percapita,Intensidad_persona,emision_co2
0,0,World,all_energy_types,1980.0,292.899790,296.337228,27770.910281,4.298127e+06,68.145921,10.547000,4946.627130
1,1,World,coal,1980.0,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547000,1409.790188
2,2,World,natural_gas,1980.0,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547000,1081.593377
3,3,World,petroleum_n_other_liquids,1980.0,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547000,2455.243565
4,4,World,nuclear,1980.0,7.575700,7.575700,27770.910281,4.298127e+06,68.145921,10.547000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
55435,55435,Zimbabwe,coal,2019.0,0.045064,0.075963,37.620400,1.465420e+04,11.508701,4.482962,4.586869
55436,55436,Zimbabwe,natural_gas,2019.0,0.000000,0.000000,37.620400,1.465420e+04,11.508701,4.482962,0.000000
55437,55437,Zimbabwe,petroleum_n_other_liquids,2019.0,0.055498,0.000000,37.620400,1.465420e+04,11.508701,4.482962,4.377890
55438,55438,Zimbabwe,nuclear,2019.0,NaN,NaN,37.620400,1.465420e+04,11.508701,4.482962,0.000000
55439,55439,Zimbabwe,renewables_n_other,2019.0,0.068089,0.067499,37.620400,1.465420e+04,11.508701,4.482962,0.000000

In [7]:
df.isna().sum()

Unnamed: 0                 0
pais                     720
tipo_energia             720
year                     720
consumo_energia        11485
produccion_energia     11483
cpp                    15606
Poblacion               9666
Intesidad_percapita     5454
Intensidad_persona      5454
emision_co2             4310
dtype: int64

In [11]:
values ={"consumo_energia":'0',"produccion_energia":'0',"cpp":'0',"Intesidad_percapita":'0',"Intensidad_persona":'0',"emision_co2":'0'}
df.fillna(value=values,inplace=True)
df.isna().sum()

Unnamed: 0                0
pais                    720
tipo_energia            720
year                    720
consumo_energia           0
produccion_energia        0
cpp                       0
Poblacion              9666
Intesidad_percapita       0
Intensidad_persona        0
emision_co2               0
dtype: int64

In [12]:
df

,Unnamed: 0,pais,tipo_energia,year,consumo_energia,produccion_energia,cpp,Poblacion,Intesidad_percapita,Intensidad_persona,emision_co2
0,0,World,all_energy_types,1980.0,292.89979,296.337228,27770.910281,4.298127e+06,68.145921,10.547,4946.62713
1,1,World,coal,1980.0,78.656134,80.114194,27770.910281,4.298127e+06,68.145921,10.547,1409.790188
2,2,World,natural_gas,1980.0,53.865223,54.761046,27770.910281,4.298127e+06,68.145921,10.547,1081.593377
3,3,World,petroleum_n_other_liquids,1980.0,132.064019,133.111109,27770.910281,4.298127e+06,68.145921,10.547,2455.243565
4,4,World,nuclear,1980.0,7.5757,7.5757,27770.910281,4.298127e+06,68.145921,10.547,0.0
...,...,...,...,...,...,...,...,...,...,...,...
55435,55435,Zimbabwe,coal,2019.0,0.045064,0.075963,37.6204,1.465420e+04,11.508701,4.482962,4.586869
55436,55436,Zimbabwe,natural_gas,2019.0,0.0,0.0,37.6204,1.465420e+04,11.508701,4.482962,0.0
55437,55437,Zimbabwe,petroleum_n_other_liquids,2019.0,0.055498,0.0,37.6204,1.465420e+04,11.508701,4.482962,4.37789
55438,55438,Zimbabwe,nuclear,2019.0,0,0,37.6204,1.465420e+04,11.508701,4.482962,0.0
55439,55439,Zimbabwe,renewables_n_other,2019.0,0.068089,0.067499,37.6204,1.465420e+04,11.508701,4.482962,0.0